{% extends 'base.html' %}
{% block content %}
<h2>Your Profile</h2>
<div class="profile-details">
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <!-- Add more profile details here -->
</div>

<div class="d-flex justify-content-start gap-3 mt-3">
    <a href="{% url 'edit_profile' %}" class="btn btn-custom btn-sm">Update Profile</a>
    <a href="{% url 'confirm_delete_account' %}" class="btn btn-danger btn-sm">Delete My Account</a>
</div>
{% endblock %}

