{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Favicon links -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon.ico/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon.ico/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon.ico/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon.ico/site.webmanifest' %}">

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <script src="https://kit.fontawesome.com/e31f5a7661.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    {% endblock %}

    <script src="https://js.stripe.com/v3/"></script>

    <title> R.A.D {% block extra_title %} Really Addictive Decaf {% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <!-- Logo on the Left -->
            <a class="navbar-brand" href="{% url 'home' %}">R.A.D</a>

            <!-- Navbar Toggler (for Mobile/Tablets) -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
    


            <div class="collapse navbar-collapse" id="navbarContent">
                <!-- Centered Navigation Links -->
                <ul class="navbar-nav mx-auto text-center">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'shop' %}">Shop</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'wholesale' %}">Wholesale</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout_confirm' %}">Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Sign In</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>

            <!-- Search Bar & Cart (RIGHT SIDE) -->
            <div class="d-flex align-items-center ms-auto">
                <!-- ✅ Search Bar -->
                <form class="custom-search-form d-none d-md-flex" action="{% url 'shop' %}" method="GET">
                    <div class="input-group">
                        <input class="custom-search-input form-control" type="search" name="q" placeholder="Search..." aria-label="Search">
                        <button class="custom-search-button btn btn-outline-light" type="submit">Go</button>
                    </div>
                </form>

                <!-- Cart Icon -->
                <a class="nav-link position-relative ms-3" href="{% url 'cart' %}">
                    <i class="fas fa-shopping-basket fa-2x text-white"></i> <!-- Basket Icon -->
                </a>
                <small class="text-white" id="cart-total">£{{ cart_total|default:"0.00" }}</small> <!-- Total Price -->
            </div>

        </div>
    </nav>

    <main class="flex-grow-1">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <p>&copy; R.A.D 2025</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <a href="https://facebook.com" target="_blank" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com" target="_blank" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                    <a href="https://instagram.com" target="_blank" class="text-white me-3"><i class="fab fa-instagram"></i></a>
                    <a href="https://linkedin.com" target="_blank" class="text-white"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </footer>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    <!-- jQuery & Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>


    <!-- Custom JS -->

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}
</body>
</html>
